#mapid {
  height: 180px;
  margin-top: 5%;

 }
.center{
  text-align: center;
}
.title{
  margin-top: 30%;
  font-family: "Orbitron";
}

.container-fluid {
  color: white;
  background-color: black;
}
.bottom{
  margin-top: 5%;
}
